**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/ClientApp/dist
**/ClientApp/.angular
.vs/
.vscode/
bin/
obj/
node_modules/
ClientApp/node_modules/
ClientApp/dist/
ClientApp/.angular/
Dockerfile
vvkbms_setup.sql
build_error.txt
appsettings.Development.json
